<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:label="UnityDemoApp"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <!-- 메인 Activity -->
        <activity
            android:name=".presentation.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- UnityPlayerActivity (Unity 라이브러리에서 제공) -->
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="false"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|smallestScreenSize|uiMode"
            tools:replace="android:configChanges,android:exported,android:theme" />

        <!-- UnityHostActivity (우리가 만든 호스트 + 오버레이) -->
        <activity
            android:name=".presentation.UnityHostActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|keyboardHidden|screenSize|smallestScreenSize|uiMode|screenLayout|density|locale|fontScale|layoutDirection|colorMode|mcc|mnc"
            android:screenOrientation="fullSensor" />
    </application>

</manifest>
